.contenedor_articulo_ItemDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: auto;
    text-align: justify;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 40px;

}

.titulo_del_producto_ItemDetail{
    padding-top: 10px;
}

.imagen_producto_ItemDetail{
    padding-top: 20px;
    width: 400px;
    background-color:#ffffff;
	border-color:#b3afaf;
	border-width:2px 2px 4px 2px;
	border-style:solid;
	border-radius:40px;
	color:#ffffff !important;
	padding:15px;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size:0.9em;
	font-weight:bold;
	margin:4px 2px;
}

.precio{
    padding-top: 20px;
    padding-bottom: 20px;
}

.texto_descripcion{
    padding-top: 20px;
    padding-bottom: 20px;
}

.botones-contador{
    display: flex;
    gap: 16px;
    padding-bottom: 20px;
}